body{
background-color:#433633;
background-image: url(num.jpg);
}

#first{
    width: 450px;
    margin: 10px;
}

h3{
    font-size: 20px;
}

#second{
    background-color: #DECBB7;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 450px;
    padding-left:15px;
}

#third{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 450px;
    font-family: 'Rajdhani', sans-serif;
}

header{
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    text-shadow: 5px 5px 5px black;
}

section{
    background-color: #F7F0F5;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 8px rgb(105, 105, 105);
    font-family: 'Rajdhani', sans-serif;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Teko', sans-serif;
    text-shadow: 2px 2px 2px black;
}

button{
    font-family: 'Rajdhani', sans-serif;
}

select{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

input{
    font-family: 'Rajdhani', sans-serif;
}